include mixins

section.chat.fullScreen
    - let longComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
    - let smallComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
    .veiw 
        +comment('پویان', smallComment)
        +comment('پویان', smallComment)
        +comment('اکبر', longComment)
        +comment('اکبر', longComment)
        +comment('پویان', smallComment, true)
        +comment('پویان', smallComment, true)
        +comment('اکبر', longComment, true)
        +comment('اکبر', longComment, true)
        +comment('پویان', smallComment)
        +comment('پویان', smallComment, true)
        +comment('پویان', longComment)
        +comment('پویان', smallComment, true)
        +comment('اکبر', longComment)
        +comment('اکبر', longComment, true)
        +comment('اکبر', smallComment)
        +comment('اکبر', longComment, true)

    form

