doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="Content/fontawesome-all.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
        script(src="app.js", defer) 

    body#studentPanelPage
        
        header 
            .right 
                img(src="Content/images/Student Panel/1p.png", alt="Tahlildadeh").logo
                p. 
                    رمز اسپات پلیر را از قسمت مربوطه دریافت کنید.
                    سورس کد‌های پروژه قابل دانلود هستند.
                    می‌توانید تمرینات و تکالیف را دریافت کنید و تمرینات حل شده را به همراه عکس، فیلم، و سورس کد بارگذاری
                    نمایید.
                    در قسمت تمرینات من کل فعالیت های شما در خصوص تمرینات قابل دسترسی و برسی است.
            img.header(src="Content/images/Student Panel/Asset 5.png", alt="Tahlildadeh academy")
            img.side(src="Content/images/Student Panel/Academy-Side.png", alt="Tahlildadeh academy")
        
        main 
            nav 
                h2 سلام رضا!
                ul 
                    li
                        div 
                    li 
                        a(href="#spotPlayer") رمز اسپات پلیر 
                    li 
                        a(href="#source") سورس کد جلسات
                    li 
                        a(href="#tasks") لیست تکالیف
                    li 
                        a(href="#practice") تمرین‌های من
                button خروج
            
            .summary#spotPlayer
                h3
                    .crumb 
                        .in
                    |رمز اسپات پلیر
                .items 
                    .item نمونه
                button مشاهده
            .summary#source
                h3
                    .crumb 
                        .in
                    |سورس کد جلسات
                .items 
                    .item سورس جلسه 1
                    .item سورس جلسه 2
                    .item سورس جلسه 3
                    .item سورس جلسه 4
                button مشاهده
            .summary#tasks
                h3
                    .crumb 
                        .in
                    |لیست تکالیف
                .items 
                    .item تکلیف استاد 1
                    .item تکلیف استاد 2
                    .item تکلیف استاد 3
                    .item تکلیف استاد 4
                button مشاهده
            .summary#practice
                h3
                    .crumb 
                        .in
                    |تمرین های من
                .items 
                    .item تمرین 1
                    .item تمرین 2
                    .item تمرین 3
                    .item تمرین 4
                button مشاهده
            
            section.tasks.fullScreen 
                h2 تکالیف استاد دوره
                .pad
                    .item تکلیف استاد
                    .item تکلیف استاد
                    .item تکلیف استاد

            form.practice
                h2 آپلود تمارین
                .textPart
                    h3 متن
                    textarea(id="", name="", cols="", rows="8", placeholder="متن مورد نظر را وارد کنید:") 

                .part 
                    h3 تصویر
                    i.fas.fa-plus-circle

                    .input 
                        label(for="photo-1") 
                            span
                            input(type="file")#photo-1
                        i.fas.fa-times
                .part 
                    h3 فیلم
                    i.fas.fa-plus-circle

                    .input 
                        label(for="film-1") 
                            span
                            input(type="file")#film-1
                        i.fas.fa-times
                .part 
                    h3 سورس کد
                    i.fas.fa-plus-circle

                    .input 
                        label(for="source-1") 
                            span
                            input(type="file")#source-1
                        i.fas.fa-times
                button(type="submit") ارسال