include mixins.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="Content/fontawesome-all.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
        script(src="app.js", defer) 

    body#studentPanelPage
        
        header 
            .right 
                img(src="Content/images/Student Panel/1p.png", alt="Tahlildadeh").logo
                p. 
                    رمز اسپات پلیر را از قسمت مربوطه دریافت کنید.
                    سورس کد‌های پروژه قابل دانلود هستند.
                    می‌توانید تمرینات و تکالیف را دریافت کنید و تمرینات حل شده را به همراه عکس، فیلم، و سورس کد بارگذاری
                    نمایید.
                    در قسمت تمرینات من کل فعالیت های شما در خصوص تمرینات قابل دسترسی و برسی است.
            img.header(src="Content/images/Student Panel/Asset 5.png", alt="Tahlildadeh academy")
            img.side(src="Content/images/Student Panel/Academy-Side.png", alt="Tahlildadeh academy")
        
        main 
            nav 
                h2 سلام رضا!
                ul 
                    li
                        div 
                    li 
                        a(href="#spotPlayer") رمز اسپات پلیر 
                    li 
                        a(href="#source") سورس کد جلسات
                    li 
                        a(href="#tasks") لیست تکالیف
                    li 
                        a(href="#practice") تمرین‌های من
                button خروج
            
            +summary('spotPlayer', 'رمز اسپات پلیر', 'نمونه رمز')            
            +summary('source', 'سورس کد جلسات', 'سورس جلسه')            
            +summary('tasks', 'لیست تکالیف', 'تکلیف استاد')            

            section.tasks.fullScreen 
                h2 آپلود تمارین
                .pad
                    .item تکلیف استاد
                    .item تکلیف استاد
                    .item تکلیف استاد

            form.tasksModal
                .textPart
                    h3 متن
                    textarea(id="", name="", cols="", rows="8", placeholder="متن مورد نظر را وارد کنید:") 

                .part 
                    h3 تصویر
                    i.fas.fa-plus-circle

                    .input 
                        label(for="photo-1") 
                            span
                            input(type="file")#photo-1
                        i.fas.fa-times
                .part 
                    h3 فیلم
                    i.fas.fa-plus-circle

                    .input 
                        label(for="film-1") 
                            span
                            input(type="file")#film-1
                        i.fas.fa-times
                .part 
                    h3 سورس کد
                    i.fas.fa-plus-circle

                    .input 
                        label(for="source-1") 
                            span
                            input(type="file")#source-1
                        i.fas.fa-times
                button(type="submit") ارسال
            
            include chat