@import './0Export/Content/source/variables';
@import './0Export/Content/source/Fonts';

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

html {
    scroll-behavior: smooth;
}

button {
    font-family: iransansx;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --border-radius: 30px;
}

#studentPanelPage {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: iransansx;

    header {
        background-color: #fdac14;
        position: relative;
        padding-top: 3em;

        .right {
            width: 37%;
            height: 100%;
            margin-right: 7%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img.logo {
                margin: auto;
                display: block;
                width: 300px;
            }

            p {
                color: white;
                font-size: 1.5em;
                text-align: justify;
                line-height: 1.5em;
            }
        }

        >.header {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        >.side {
            position: absolute;
            right: -70px;
            bottom: 0;
            height: 100%;
        }
    }

    main {
        .fullScreen {
            margin: 0 -7vw;
        }

        margin: 0 7vw;
        padding-top: 3em;

        >* {
            margin-bottom: 3em !important;
        }

        nav {
            margin-bottom: 7em;
            border: 2px solid #9885746c;
            background: linear-gradient(160deg, rgba(255, 255, 255, 1) 19%, rgba(246, 246, 246, 1) 57%, rgba(190, 194, 195, 1) 100%);
            border-radius: var(--border-radius);
            padding: 1em 3em;

            h2 {
                width: 6em;
                text-align: center;
            }

            ul {
                display: flex;
                justify-content: center;
                gap: 4em;
                padding: 0;
                $color: --color;

                li {
                    --radius: 9em;
                    border: 10px solid var(--color);
                    border-radius: 50%;
                    height: var(--radius);
                    width: var(--radius);
                    list-style: none;
                    position: relative;
                    font-weight: 800;
                    color: var(--color);
                    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 57%, rgba(192, 196, 197, 1) 90%);
                    display: flex;
                    align-items: center;

                    &::before,
                    &::after {
                        content: '';
                        width: 3.2em;
                        height: 2.9em;
                        background-color: var(--color);
                        position: absolute;
                    }

                    --polygan-offset: 40%;

                    &::before {
                        left: 100%;
                        clip-path: polygon(0 0, 100% 0, var(--polygan-offset) 100%, 0 100%);
                    }

                    &::after {
                        right: 100%;
                        clip-path: polygon(calc(100% - var(--polygan-offset)) 0, 100% 0, 100% 100%, 0 100%);
                    }

                    &:last-child::after {
                        display: none;
                    }

                    &:first-child::before {
                        display: none;
                    }

                    div {
                        background: url("./Content/images/img/Asset 4.png") no-repeat;
                        background-size: contain;
                        border: 5px solid transparent;
                    }

                    a,
                    span,
                    div {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        --var-shadow: rgba(10, 10, 10, 0.008);

                        @function getShadow($offsetW, $offsetH, $count, $blur) {
                            $width: 0px;
                            $height: 0px;
                            $result: $width $height $blur var(--var-shadow);

                            @for $i from 1 through $count {
                                $width: $width +$offsetW;
                                $height: $height +$offsetH;
                                $result: $result,
                                $width $height $blur var(--var-shadow);
                            }

                            @return $result
                        }

                        box-shadow: getShadow(.4, 1, 35, 0),
                        10.4px 26px 5px var(--var-shadow),
                        10.8px 27px 10px var(--var-shadow),
                        11.6px 28px 15px var(--var-shadow);

                        position: relative;
                        @include flex(c, c);
                    }
                }

                $colors: #ff008a, #ba6adb, #355ba6, #61a4f5, #66dada;

                @for $i from 1 through length($colors) {
                    li:nth-child(#{$i}) {
                        $item: nth($colors, $i);
                        #{$color}: $item;
                    }
                }
            }

            button {
                width: 7em;
                border: none;
                background: none;
                font-size: 1.3em;
                font-weight: 500;
                padding: .6em;
            }
        }

        .summary {
            --border-thick: 5px;
            --title-offset: 7px;
            --h3-width: 264px;
            --h3-margin: 25px;
            width: 100%;
            background: linear-gradient(to bottom, #f0f1f5, white);
            border: var(--border-thick) solid white;
            box-shadow: 0 0 8px #b3b3b3;
            border-radius: calc(var(--border-radius) / 4);
            position: relative;

            &::before {
                content: '';
                --overflow: 20px;
                width: calc(var(--h3-width) + var(--overflow));
                position: absolute;
                top: calc(-1 * (var(--border-thick) + var(--title-offset)));
                height: var(--title-offset);
                right: calc(var(--h3-margin) - var(--overflow) / 2);
                border-radius: 9px 9px 0 0;
            }

            h3 {
                margin: 0;
                margin-right: var(--h3-margin);
                width: var(--h3-width);
                text-align: center;
                color: white;
                padding: 1em 0;
                position: relative;
                bottom: calc(var(--border-thick) + var(--title-offset));
                // clip-path: polygon(0 0, 100% 1%, 89% 100%, 9% 100%);
                border-radius: 0 0 40px 40px;

                .crumb {
                    display: none;
                    --size: 1.2em;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    width: var(--size);
                    height: var(--size);
                    overflow: hidden;

                    .in {
                        display: block;
                        width: 200%;
                        height: 200%;
                        position: absolute;
                        border-radius: 50%;
                        top: 0;
                        left: 0;
                        // box-shadow: calc(var(--size) / -2) calc(var(--size) / -2) 0 0 orange;

                        &::before {
                            content: "";
                            position: absolute;
                            height: 50%;
                            width: 50%;
                            background: linear-gradient(90deg, purple, green, hotpink);
                            z-index: -1;
                            filter: blur(20px);
                        }
                    }
                }
            }

            .items {
                padding: 2em 1em;

                .item {
                    font-size: .9em;
                    padding: .3em 1em;
                    background-color: #ededed;
                    margin-bottom: 1em;
                }
            }

            button {
                font-weight: bold;
                width: var(--h3-width);
                margin-right: var(--h3-margin);
                display: block;
                margin-bottom: 1em;
                color: white;
                border: none;
                border-radius: calc(var(--border-radius) / 6);
                padding: .6em 0;
            }

            $colors: (
                #d32f4f,
                #a81b43,
                #ff435a),
                (#0062a5, #08579e, #0096d1),
                (#0b9973, #0a7055, #0cc191),
                (#f7931e, #f15a24, #f7931e
            );

        @for $i from 1 through length($colors) {
            $item: nth($colors, $i);

            &:nth-of-type(#{$i}) {

                &::before {
                    background-color: nth($item, 2);
                }

                h3,
                button {
                    background: linear-gradient(0deg, nth($item, 1) 0%, nth($item, 2) 85%, nth($item, 3) 100%);
                }
            }
        }
    }

    .tasks {
        --blue: #4fc2f8;
        position: relative;
        padding-top: 4.3em;
        margin-bottom: 15em !important;

        h2 {
            color: var(--blue);
            font-weight: 900;
            text-align: center;
            margin-bottom: 2.5em;
            font-size: 2em;
        }

        .pad {
            background-color: white;
            width: 60%;
            margin: auto;
            position: relative;
            height: 45em;
            border: 2.1em solid var(--blue);
            border-bottom-width: 3em;
            border-radius: 18px;
            padding: 3em 1em;

            &::before {
                content: '';
                background: url('Content/images/Student\ Panel/Asset 6.png');
                position: absolute;
                bottom: calc(100% - .7em);
                width: 15em;
                height: 7em;
                background-size: cover;
                left: 0;
                right: 0;
                margin: auto;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                --size: 9em;
                border-top: var(--size) solid #eee;
                border-right: var(--size) solid #4ab4e4;
            }

            .item {
                padding: 1em 2em;
                border: 2px solid #d6d6d6;
                border-radius: 15px;
                margin-bottom: .5em;
            }
        }

        &::before,
        &::after {
            content: '';
            background: url('Content/images/Student\ Panel/Asset 7.png');
            background-size: cover;
            --width: 35vw;
            width: var(--width);
            height: var(--width);
            position: absolute;
            z-index: 1;
            bottom: -10em;
            right: 0;
        }

        &::after {
            background-image: url('Content/images/Student\ Panel/Asset 8.png');
            left: 0;
            right: unset;
            z-index: -2;
        }
    }

    .practice {
        --green: #00a99e;
        color: #5b5b5b;
        padding: 0 8em;

        h2 {
            color: var(--green);
            text-align: center;
            font-weight: 800;
        }

        h3 {
            color: var(--green);
            margin: 0 1em;
            margin-bottom: 1em;
        }

        .part {
            border: 2px solid var(--green);
            border-radius: 12px;
            margin-bottom: 2em;
            position: relative;
            padding: 1em;

            i.fa-plus-circle {
                position: absolute;
                left: 0.7em;
                top: 0.4em;
                color: var(--green);
                font-size: 1.8em;
                transition: .2s;
                cursor: pointer;

                &:hover {
                    color: inherit;
                }
            }



            .input {
                position: relative;
                max-height: 2em;
                transition: .2s;
                overflow: hidden;
                margin-bottom: 1em;

                label {
                    input {
                        display: none;
                    }

                    border: 2px solid var(--green);
                    border-radius: 5px;
                    width: 70%;
                    display: block;
                    margin: auto;
                    padding: 0.1em 1em;
                    cursor: pointer;

                    span:empty::before {
                        content: 'انتخاب فایل';
                    }
                }

                i.fa-times {
                    position: absolute;
                    left: calc( 4% / 2 );
                    top: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    font-size: 1.3em;
                    cursor: pointer;
                    padding: 0 0.4em;
                }

                &.hidden {
                    max-height: 0;
                    margin: 0;
                }
            }
        }

        .textPart {
            textarea {
                display: block;
                border: 2px solid var(--green);
                font-family: iransansx;
                padding: 0.7em 2em;
                font-size: 0.9em;
                resize: none;
                transition: .1s;
                margin: 0;
                margin-bottom: 2em;
                width: 100%;
                border-radius: 25px;
                background-color: inherit;

                &:focus {
                    outline: none;
                    box-shadow: 3px 3px 10px #0000003b;
                }
            }
        }

        >button {
            border: none;
            background-color: var(--green);
            color: white;
            border-radius: 17px;
            font-size: 1.2em;
            font-weight: 800;
            padding: 0.1em 1.8em;
        }
    }
}
}