section.chat {
    background-color: #fff;
    box-shadow: 2px 2px 10px #6497bc;
    border: 2px solid #7fcedd;
    margin: auto;
    border-radius: 14px;
    overflow: hidden;
    height: 98vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    header {
        font-size: 3em;
        position: relative;
        font-weight: 900;
        color: #f39200;
        text-align: center;
    }

    .veiw {
        // background-color: #f5f5f5;
        background-color: #f5f5f5;
        color: #42515a;
        padding: 2em 1em;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: #cdcdcd;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #3bc6d8;
        }

        >* {
            @include flex(fs, c);
            flex-direction: row;
            padding-bottom: 2.5em;

            .icon {
                --wid: 4em;
                width: var(--wid);
                height: var(--wid);
                background: url('./Content/images/img/Asset\ 4.png');
                background-size: contain;
                border-radius: 50%;
                position: relative;
                flex-shrink: 0;

                &::before {
                    content: attr(data-user);
                    position: absolute;
                    top: calc(100% + .2em);
                    width: 0;
                    left: 50%;
                    display: flex;
                    justify-content: center;
                    font-size: .9em;
                    font-weight: 800;
                }
            }

            span {
                background-color: #fff;
                padding: 1em;
                border-radius: 25px 25px 0 25px;
                margin: 0 1em;
                position: relative;
                font-size: 0.8em;
                font-weight: 500;

                &::before {
                    content: '12:45 PM';
                    position: absolute;
                    top: calc(100% + 0.2em);
                    right: 0;
                    direction: ltr;
                }
            }
        }

        .others {
            flex-direction: row-reverse;

            .icon {
                background-image: url('./Content/images/img/Asset\ 2.png');
            }

            span {
                border-radius: 25px 25px 25px 0;

                &::before {
                    right: unset;
                    left: 0;
                }
            }
        }
    }

    form {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 1em;
        padding: .8em .5em;

        label {
            flex: 0 0 90%;
            font-family: inherit;
            border-radius: 5px;
            border: 1px solid #bdbdbd;
            color: #42515a;
            padding: .3em 1.1em;
            font-size: .9em;
            cursor: auto;

            input {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            flex: 0 0 7%;
            border-radius: 10px;
            border: none;
            padding: 0.4em 0;
            transition: .2s;

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
}