include ./source/mixins.pug

section#chat

    header سوالتو بپرس!

    .veiw 
        - let longComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
        - let smallComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
        span.date 2022/9/6
        +comment('پویان', smallComment)
        +comment('پویان', smallComment)
        +comment('اکبر', longComment)
        +comment('اکبر', longComment)
        +comment('پویان', smallComment, true)
        +comment('پویان', smallComment, true)
        +comment('اکبر', longComment, true)
        +comment('اکبر', longComment, true)
        +comment('پویان', smallComment)
        +comment('پویان', smallComment, true)
        span.date چهارشنبه
        +comment('پویان', longComment)
        +comment('پویان', smallComment, true)
        +comment('اکبر', longComment)
        +comment('اکبر', longComment, true)
        +comment('اکبر', smallComment)
        +comment('اکبر', longComment, true)
        +comment('پویان', smallComment, true)
        +comment('پویان', smallComment, true)
        +comment('اکبر', longComment, true)
        +comment('اکبر', longComment, true)
        +comment('پویان', smallComment)
        +comment('پویان', smallComment, true)
        +comment('پویان', longComment)
        +comment('پویان', smallComment, true)
        +comment('اکبر', longComment)
        +comment('اکبر', longComment, true)
        span.date امروز
        +comment('اکبر', smallComment)
        +comment('اکبر', longComment, true)

    form
        label(for="chatInput", contenteditable) 
            input#chatInput
        button(type="submit") ارسال    