section#chat {
    background-color: #fff;
    box-shadow: 2px 2px 10px #6497bc;
    border: 2px solid #7fcedd;
    margin: auto;
    border-radius: 14px;
    height: 140vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    header {
        font-size: 3em;
        position: relative;
        font-weight: 900;
        color: #f39200;
        text-align: center;
        padding: 1.6em 0;
        position: relative;
        box-shadow: 0px 8px 7px #00000017;
        z-index: 5;

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            right: 2em;
            background-image: url("./Content/images/Student Panel/HappyQA2.png");
            height: 4em;
            width: 6.1em;
            background-size: cover;
            z-index: 4;
            bottom: .01em;
        }

        &::after {
            background-image: url("./Content/images/Student Panel/Chat.png");
            left: 0;
            height: 6.4em;
            width: 9em;
            background-size: cover;
            z-index: 4;
            bottom: 0;
        }
    }

    .veiw {
        // background-color: #f5f5f5;
        background-color: #f5f5f5;
        color: #42515a;
        padding: 2em 1em;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #d6d6d6;
            border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #3bc6d8;
        }

        >*:not(.date) {
            @include flex(fs, c);
            flex-direction: row;
            padding-bottom: 2.5em;


            .icon {
                --wid: 4em;
                width: var(--wid);
                height: var(--wid);
                background: url('./Content/images/img/Asset\ 4.png');
                background-size: contain;
                border-radius: 50%;
                position: relative;
                flex-shrink: 0;

                &::before {
                    content: attr(data-user);
                    position: absolute;
                    top: calc(100% + .2em);
                    width: 0;
                    left: 50%;
                    display: flex;
                    justify-content: center;
                    font-size: .9em;
                    font-weight: 800;
                }
            }

            span {
                background-color: #7fcedd;
                padding: 1em;
                border-radius: 25px 25px 0 25px;
                margin: 0 1em;
                position: relative;
                font-size: 0.8em;
                font-weight: 500;

                &::before {
                    content: attr(data-time);
                    position: absolute;
                    top: calc(100% + 0.2em);
                    right: 0;
                    direction: ltr;
                }
            }
        }

        .others {
            flex-direction: row-reverse;

            .icon {
                background-image: url('./Content/images/img/Asset\ 2.png');
            }

            span {
                background-color: #C8E0FC;
                border-radius: 25px 25px 25px 0;

                &::before {
                    right: unset;
                    left: 0;
                }
            }
        }

        .date {
            margin: 1em auto;
            display: block;
            text-align: center;
            background: #d6d6d6;
            width: max-content;
            padding: 0.2em 1em;
            border-radius: 10px;
        }
    }

    form {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 1em;
        padding: .8em .5em;
        background: #7fcedd;

        label {
            background: #f5f5f5;
            flex: 0 0 90%;
            font-family: inherit;
            border-radius: 5px;
            // border: 1px solid #73bcca;
            color: #42515a;
            padding: .5em 1.1em;
            font-size: .9em;
            cursor: auto;

            input {
                display: none;
            }

            &:focus {
                outline: none;
                // border-color: #7fcedd;
            }
        }

        button {
            flex: 0 0 7%;
            border-radius: 10px;
            border: none;
            padding: 0.5em 0;
            transition: .2s;

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
}