include ./source/mixins.pug

section#chat

    header سوالتو بپرس!

    .veiw 
        - let longComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
        - let smallComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
        span.date 2022/9/6
        +comment('', '', '0000', 'me', null,true)
        +comment('پویان', smallComment, 1001, 'me')
        +comment('پویان', smallComment, 1002, 'me')
        +comment('اکبر', longComment, 1003, 'me')
        +comment('اکبر', longComment, 1004, 'me', {id:1010, name:'علی'})
        +comment('پویان', smallComment, 1005, 'o')
        +comment('پویان', smallComment, 1006, 'o')
        +comment('اکبر', longComment, 1007, 'o')
        +comment('اکبر', longComment, 1008, 'o')
        +comment('پویان', smallComment, 1009, 'me', {id:1010, name:'علی'})
        +comment('پویان', smallComment, 10010, 'o')
        span.date چهارشنبه
        +comment('پویان', longComment, 1010, 'me')
        +comment('پویان', smallComment, 1011, 'o')
        +comment('اکبر', longComment, 1012, 'me')
        +comment('اکبر', longComment, 1013, 'o', {id:1010, name:'علی'})
        +comment('اکبر', smallComment, 1014, 'me')
        +comment('اکبر', longComment, 1001, 'o')
        +comment('پویان', smallComment, 1002, 'o')
        +comment('پویان', smallComment, 1003, 'o')
        +comment('اکبر', longComment, 1004, 'o')
        +comment('اکبر', longComment, 1005, 'o')
        +comment('پویان', smallComment, 1006, 'me')
        +comment('پویان', smallComment, 1007, 'o')
        +comment('پویان', longComment, 1008, 'me')
        +comment('پویان', smallComment, 1009, 'o')
        +comment('اکبر', longComment, 1010, 'me')
        +comment('اکبر', longComment, 1011, 'o')
        span.date امروز
        +comment('اکبر', smallComment, 1012, 'me', {id:1010, name:'علی'})
        +comment('اکبر', longComment, 1013, 'o', {id:1010, name:'علی'})

    .reply.closed
        div
        i.far.fa-times-circle
    form
        .input(contenteditable)
        button(type="submit") ارسال    