include ./source/mixins.pug

section#chat

    header سوالتو بپرس!

    .veiw 
        - let longComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';
        - let smallComment = 'سلام آیا میشه در دوره به صورت غیر حضوری شرکت کرد؟';

        span.contextPlaceholder 
            ul.context 
                li#delete.strict حذف پیام
                li#edit.strict ویرایش
                li#reply پاسخ

        span.date 2022/9/6
        +comment('', '', '0000', 'me', null,true)
        +comment('پویان', smallComment, 1001, 'me')
        +comment('پویان', smallComment, 1002, 'me')
        +comment('اکبر', longComment, 1003, 'me')
        +comment('اکبر', longComment, 1004, 'me', {id:1001, name:'علی'})
        +comment('پویان', smallComment, 1005, 'o')
        +comment('پویان', smallComment, 1006, 'o')
        +comment('اکبر', longComment, 1007, 'o')
        +comment('اکبر', longComment, 1008, 'o')
        +comment('پویان', smallComment, 1009, 'me', {id:1028, name:'علی'})
        +comment('پویان', smallComment, 1010, 'o')
        span.date چهارشنبه
        +comment('پویان', longComment, 1011, 'me')
        +comment('پویان', smallComment, 1012, 'o')
        +comment('اکبر', longComment, 1013, 'me')
        +comment('اکبر', longComment, 1014, 'o', {id:1013, name:'علی'})
        +comment('اکبر', smallComment, 1015, 'me')
        +comment('اکبر', longComment, 1016, 'o')
        +comment('پویان', smallComment, 1017, 'o')
        +comment('پویان', smallComment, 1018, 'o')
        +comment('اکبر', longComment, 1019, 'o')
        +comment('اکبر', longComment, 1020, 'o')
        +comment('پویان', smallComment, 1021, 'me')
        +comment('پویان', smallComment, 1022, 'o')
        +comment('پویان', longComment, 1023, 'me')
        +comment('پویان', smallComment, 1024, 'o')
        +comment('اکبر', longComment, 1025, 'me')
        +comment('اکبر', longComment, 1026, 'o')
        span.date امروز
        +comment('اکبر', smallComment, 1027, 'me', {id:1028, name:'علی'})
        +comment('اکبر', longComment, 1028, 'o', {id:1006, name:'علی'})

    .wrap 
        span.getDown.active.fas.fa-chevron-down
        .reply.closed
            div
            i.far.fa-times-circle
    
    form
        .input(contenteditable)
        label(for="chatPhoto").fas.fa-paperclip
            input(type="file")#chatPhoto
        button(type="submit", disabled) ارسال  