section#chat {
    --question: #7fcedd;
    --answer: #C8E0FC;
    background-color: #fff;
    box-shadow: 2px 2px 10px #6497bc;
    border: 2px solid var(--question);
    margin: auto;
    border-radius: 14px;
    height: 140vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1em !important;
    position: relative;

    header {
        font-size: 3em;
        position: relative;
        font-weight: 900;
        color: #f39200;
        text-align: center;
        padding: 1.6em 0;
        position: relative;
        box-shadow: 0px 8px 7px #00000017;
        z-index: 5;

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            right: 2em;
            background-image: url("./Content/images/Student Panel/HappyQA2.png");
            height: 4em;
            width: 6.1em;
            background-size: cover;
            z-index: 4;
            bottom: .01em;
        }

        &::after {
            background-image: url("./Content/images/Student Panel/Chat.png");
            left: 0;
            height: 6.4em;
            width: 9em;
            background-size: cover;
            z-index: 4;
            bottom: 0;
        }
    }

    .veiw {
        // background-color: #f5f5f5;
        background-color: #f5f5f5;
        color: #42515a;
        padding: 2em 1em;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #d6d6d6;
            border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #3bc6d8;
        }

        >*:not(.date, .getUp) {
            @include flex(fs, c);
            flex-direction: row;
            padding-bottom: 2.5em;

            &.merge {
                margin-top: -1.3em;

                .icon {
                    display: none;
                }

                span {
                    margin-right: 6em;
                }

                &.others {
                    span {
                        margin-right: unset;
                        margin-left: 6em;
                    }
                }
            }

            .icon {
                --wid: 4em;
                width: var(--wid);
                height: var(--wid);
                background: url('./Content/images/img/Asset\ 4.png');
                background-size: contain;
                border-radius: 50%;
                position: relative;
                flex-shrink: 0;

                &::before {
                    content: attr(data-user);
                    position: absolute;
                    top: calc(100% + .2em);
                    width: 0;
                    left: 50%;
                    display: flex;
                    justify-content: center;
                    font-size: .9em;
                    font-weight: 800;
                }
            }

            span {
                background-color: var(--question);
                padding: 1em 1.7em;
                border-radius: 25px 25px 0 25px;
                margin: 0 1em;
                position: relative;
                font-size: 0.8em;
                font-weight: 500;
                max-width: 45%;
                text-align: justify;

                &::before {
                    content: attr(data-time);
                    position: absolute;
                    top: calc(100% + 0.2em);
                    right: 0;
                    direction: ltr;
                    white-space: nowrap;
                }

                a {
                    position: absolute;
                    left: 1em;
                    top: 100%;
                    font-size: 0.9em;
                    white-space: nowrap;
                    color: inherit;
                    right: 5em;
                    text-align: left;

                    &::before {
                    content: 'پاسخ به: ';
                    }

                    &:empty {
                        display: none;
                    }
                }

                i {
                    color: grey;
                    position: absolute;
                    right: 100%;
                    top: 0;
                    bottom: 0;
                    height: min-content;
                    margin: auto;
                    padding: 0.4em;
                    font-size: 1.3em;
                    cursor: pointer;
                }
            }
        }

        .others {
            flex-direction: row-reverse;

            .icon {
                background-image: url('./Content/images/img/Asset\ 2.png');
            }

            span {
                background-color: var(--answer);
                border-radius: 25px 25px 25px 0;

                &::before {
                    right: unset;
                    left: 0;
                }

                a {
                    left: 5em;
                    right: 1em;
                    text-align: right;
                }

                i {
                    right: unset;
                    left: 100%;
                    transform: scaleX(-1);
                }
            }
        }

        .date {
            margin: 1em auto;
            display: block;
            text-align: center;
            background: #d6d6d6;
            width: max-content;
            padding: 0.2em 1em;
            border-radius: 10px;
        }

        .sample {
            display: none;
        }

        .getDown {
            background-color: var(--question);
            color: white;
            @include square(2.5em);
            padding: 0;
            border-radius: 50%;
            @include flex(c,c);
            position: absolute;
            bottom: 4.4em;
            right: 0.6em;
            cursor: pointer;
            z-index: 2;
            transition: .1s;

            transform: scale(.1);
            opacity: 0;

            &.active {
                transform: scale(1);
                opacity: 100;
            }
        }
    }

    .reply {
        font-size: .8em;
        padding: 0.8em;
        padding-bottom: 0;
        background-color: var(--question);
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        overflow: hidden;
        transition: .1s;
        max-height: 7.5em;
        padding: 0;

        >div {
            background-color: var(--answer);
            flex: 0 0 90.5%;
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            margin: 0.8em 0.5em;
            margin-bottom: 0;
            padding: 0.6em 2em;
            overflow: hidden;
            text-overflow: ellipsis;

            .icon::before {
                content: attr(data-user) ':';
                color: #007cff;
                font-weight: bold;
            }

            span {
                i {
                    display: none;
                }
            }

            a {
                display: none;
            }
        }

        >i {
            color: white;
            cursor: pointer;
            flex: 0 0 7%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.9em;
        }

        &.closed {
            max-height: 0;
        }
    }

    form {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 1em;
        padding: .8em .5em;
        background: var(--question);

        .input {
            background: #f5f5f5;
            flex: 0 0 90%;
            font-family: inherit;
            border-radius: 5px;
            border: 1px solid transparent;
            color: #42515a;
            padding: .5em 1.1em;
            font-size: .9em;
            cursor: text;

            input {
                display: none;
            }

            &:focus {
                outline: none;
                border-color: #46b4ca;
            }

            &:empty::before {
                content: 'متن خود را بنویسید';
                color: #a0a0a0;
            }
        }

        button {
            flex: 0 0 7%;
            border-radius: 10px;
            border: none;
            padding: 0.5em 0;
            transition: .2s;

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
}